.home-view {
  padding: 20px;
}

.card-view {
  margin-bottom: 12px;
}

.image-view {
  height: 100%;
  width: 100%;
}
.link-view {
  z-index: 0;
}
.create-post-form{
  width: 100%;
}
.heading-full-width{
  width: 100%;
}