.home-view {
  padding: 20px;
  //background-color: gray;
}

.card-view {
  //width: 80%;
  //margin: 60px 15% 10px 15%;
  margin-bottom: 12px;
}

.image-view {
  height: 100%;
  width: 100%;
}
.link-view {
  z-index: 0;
}
